*{
    border: none;
    margin: 0;
    padding: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
    align-self: center;
}

video {
    width: 400px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.80;
    display: flex;
    flex-direction: column;
}

.main__videos {
    flex: 0.93;
    background-color: rgb(15, 15, 15);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__chat__window{
    flex-grow: 1;
    overflow-y: scroll;
}
.main__header{
    color: #928989;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4d4c4d55;
}

#chat_message {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    transition: 1s;
    padding-top: 2px;
    min-height: 40px;
    padding-left: 20px;
    padding-bottom: 2px;
    border-radius: 25px;
    width: 19vw;
    background: #5756569a;
    margin: 1px;
    outline: none;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 16px;
}

#chat_message:focus {
    background: #eeeeeeed;
    outline: none;
}

.main__controls {
    padding: 5px;
    display: flex;
    flex: 0.07;
    background-color: #161616;
    border-right: #64646455 1px solid;
    align-items: center;
    justify-content: space-between;
}

.main__right {
    flex: 0.20;
}

.main__controls__block {
    flex: 1;
    display: flex;
    color: rgb(126, 119, 119);
    padding: 00px;
}

.main__controls__button{
    padding: 10px;
    min-width: 80px;
    min-height: 50px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main__controls__button:hover{
    background: #444444c9;
    color: rgb(255, 255, 255);
}

span{
    font-weight: 0.5;
    color: rgb(155, 144, 144);
    padding: 5px;
}

.leave-meeting{
    padding-left: 100px;
    padding-right: 100px;
    
}

.main__right {
    flex: 0.20;
    display: flex;
    flex-direction: column;
    background-color: #242324;
}
.main__controls__leave-button{
    padding: 0px;
    width: 110px;
    min-height: 40px;
    margin-left: 18vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: rgb(195, 17, 17);
}

.main__controls__leave-button:hover{
    background: #ff1313fa;
    color: rgb(0, 255, 0);
}

.leave-meeting{
    color: white;
}

.messages{
    list-style: none;
}

.user-messages {
    max-width: 20vw;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: rgb(182, 182, 182);
    background-color: rgb(66, 66, 66);
}

::-webkit-scrollbar{
    margin-top: 10px;
    transition: 1s;    
    margin-bottom: 10px;    
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #92898991;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #4d4d4ddc;
    padding: 5px;
}

.unmute {
    color: rgba(255, 94, 94, 0.815);    
}

.start {
    color: rgba(255, 94, 94, 0.815);
}